@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: #E5E5E5;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
     /* Espaçamento entre letras */
     letter-spacing: 0.05em;

     /* Espaçamento entre linhas */
     line-height: 1.2;

     font-style: normal;
     font-weight: 400;
}

/* menu lateral 13 SLACA  */
#menu-lateral {
    display: flex;
    flex-direction: column;
    width: 20%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 0;
    margin: 0;
    height: 200vh;
    position: absolute;
}

    #menu-lateral div {
        text-align: center;
    }

    #menu-lateral div h1 {
        font-size: clamp(1.5rem, 2vw, 2.5rem);
        color: #FFF;
        padding: 2rem;
        background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
        font-weight: bold;
    }

    #menu-lateral div p {
        width: 90%;
        margin: auto;
    }

    #menu-lateral div img {
        width: 100%;
    }
    
/* Configuração do menu de Navegação */
    #menu-lateral nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #FFF;
        border-bottom: 1px solid #E5E5E5;
    }

        #menu-lateral nav a {
            display: flex;
            padding: 1rem 2rem;
            color: #000;
            text-decoration: none;
            font-size: clamp(1rem, 1vw, 1.5rem);
        }

        #menu-lateral nav a:hover {
            border-left: rgba(237, 120, 57, 1) solid 5px;
            background: #FDF1EB;
        }
/* Final Configuração do menu de Navegação */


/* Configuração de Titulo e Login */
/* Css titulo header */
#titulo-login {
    display: flex;
    justify-content: space-around;
    background: #FDF1EB;
    margin-left: 18%;
}

    #titulo-login .titulo {
        display: flex;
        flex-direction: column;
        color: #725c5c;
        margin: 1rem 0 0 7.5rem; 
    }

    #titulo-login .titulo h1 {
        font-size: clamp(1.5rem, 1.5vw, 2.5rem);
    }

    #titulo-login .titulo h3 {
        padding-bottom: 0.5rem;
        font-size: clamp(0.75rem, 0.5vw, 1rem);
    }

    #titulo-login .titulo h4 {
        padding-top: 0.5rem;
        font-size: 1rem;

    }
/*final Css titulo header */

/* area de acesso - login */
    .login {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .seletor {
        display: flex;
        border: 1px solid #CCCCCC;
        margin: 0 0 0 10px;
    }
    
    .select-menu {
        width: 6rem;
        height: 3rem;
        text-transform: uppercase;
        margin: 0.5rem;
        padding: 0.5rem;
        text-align: center;
        background: #FDF1EB;
        border: none;
    }

    .seletor img {
        margin: 1rem;
        width: 2rem;
    }

    .acesso {
        display: flex;
        padding: 1rem;
        width: 50%;
    }

    .acesso p:nth-child(1) {
        margin: auto;
        text-align: right;
    }

    .acesso img {
        border-radius: 100%;
        width: 12rem;
        margin-left: 0.5rem;
    }
/* Final area de acesso - login */

/* Final Configuração de Titulo e Login */

/* ---------------------------------------- */

/* Configuração main - conteudo principal */
main {
    width: 80%;
    display: flex;
    justify-content: space-around;

    margin-left: 20%;
}

    main section {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    main article {
        width: 19.5%;
        display: flex;
        flex-direction: column;
    }

/* Estilização do titulo e video  */
    main section div {
        width: 85%;
        margin: 0 auto;
    }

    /* titulo */
    main section .titulo h2 {
        font-style: normal;
        font-weight: 900;
        font-size: clamp(1.5rem, 1.5vw, 2.5rem);
        color: #ED7839;
        margin-top: 1rem;

        /* Espaçamento entre letras */
        letter-spacing: 0.05em;

        /* Espaçamento entre linhas */
        line-height: 1.2;
    }

    /* video */
    #video {
        position: relative;
        margin-top: 2rem;
    }

    .video-texto-titulo h2 {
        position: absolute;
        color: white;
        margin-top: 5%;
        z-index: 10;
        font-family: Roboto;
        font-size: clamp(1.5rem, 1.5vw, 2.5rem);
        font-style: normal;
        font-weight: 900;

        margin-left: -5%;
    }
    
    .video-autor{
        padding-right: 80%;
        padding-left: 2%;
        position: absolute;
        z-index: 10;
        font-family: Roboto;
    }
    .video-autor img{
        position: absolute;
        margin-top: 45% ;
        border: 1px solid orange;
        border-radius: 100%;
        width: 10%;
    }
    .video-autor ul{
        list-style: none;
        position: absolute;
        margin-top: 46%;
        left: 15%;
        color: white;
        line-height: 35px;
    
    }
    .video-autor h1{
        font-size: clamp(1.5rem, 1.5vw, 2.5rem);
        font-weight: bold;
    }
    
    .video-img{
        width: auto;
        height:auto;
    }
    .video-img img{
        width:100%;
    }
    
    .video-img a:after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99%;
        background: rgba(141, 53, 6, 0.5);
    }
/* Estilização do titulo e video  */


/* Estilizaçãoo dos icones nav */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3.5rem;
}

    article .icones {
        margin-top: 1rem;
    }

    article .icones h3 {
        font-size: clamp(0.75rem, 0.9vw, 1.5rem);
        color: #ED7839;
        margin: 0.5rem;
        text-transform: uppercase;
    }

    article .icones ul {
        width: 100%;
        display: flex;
    }

    article .icones ul li {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #ED7839;
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: #FFF;
        font-size: clamp(0.75rem, 0.5vw, 1rem);
        font-weight: bold;
        cursor: pointer;
        margin: 0.5rem;
    }

    article .icones ul li img {
        width: 1.5rem;
        margin: 0 0.5rem
    }
    
    /* Detalhes right */
    article .detalhes-lateral-right {
        display: flex;
        flex-direction: column;
        
        border: 1px solid #ECECEC;
        border-radius: 3px;

    }

    article .detalhes-lateral-right h3 {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: clamp(0.75rem, 1.5vw, 3rem);
        padding: 1rem;
        color: #4E4E4E;
        background: #ECECEC;
    }
    
    article .detalhes-lateral-right ul {
        padding: 0.5rem;
        list-style: none;
        line-height: 1.5rem;
        font-size:clamp(0.75rem, 1vw, 1rem);

        font-family: 'Quicksand';
        text-decoration: none;
        margin: 0 0.5rem
    }

    article .detalhes-lateral-right ul li a {
        text-decoration: none;
        color: #5C5C5C;
    }

    /* Resumo Collapse */

    details {
        width: 73%;
        margin-left: 24%;
        margin-top: 2rem;
        list-style: none;
        text-align: justify; 

        border: 2px solid #ECECEC;
        border-radius: 3px;
    }


   /* Collapse RESUMO */

    details summary {
        display: flex;
        flex-direction: column;
    }

    details summary h1 {
        font-size: clamp(0.75rem, 1.5vw, 3rem);
        background: #FDF1EB;
        padding: 1.5rem;
        font-weight: bold;

        background: #FDF1EB;
        border: 2px solid #ECECEC;
        border-radius: 3px 3px 0px 0px;
    }

    details p {
        font-size: clamp(0.75rem, 1vw, 1.5rem);
        padding: 1rem;
        font-family: 'Quicksand';

        line-height: 1.8rem;
        letter-spacing: 0.05em;
    }

    details a {
        text-decoration: none;
        color: #ED7839;
        font-weight: bold;
    }