@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;

    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 10% 60% 60% 20%;
    grid-template-areas:
        "sidebar header header"
        "sidebar sect1  sect1"
        "sidebar sect2  sect3"
        "sidebar main   main"
        "sidebar footer footer";
}

aside {
    grid-area: sidebar;
    background-color: #E5E5E5;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 0;
}

    aside div {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        cursor: pointer;

        padding: 2.3rem;
        
        background: #ed7839;
        font-family: 'Roboto', sans-serif;
    }

    aside div p {
        font-size: 2.5rem;
        font-weight: bold;

        color: #fff;
    }

    aside .imagem {
        margin: 0;
    }

    aside p img {
        width: 100%;
        margin: 0 auto;
    }

    aside nav {
        font-size: clamp(1.5rem, 0.8vw, 1.5rem);
    }

    aside ul {
        margin: 0;
        padding: 0;
    }

    aside nav li {
        list-style: none;
        background: #ffffff;
        padding: 0.8rem;
        margin-top: 0.3rem;
    }

    aside nav li a {
        color: #725C5C;
        text-decoration: none;
        padding: 1rem;
    }

    aside nav li:hover {
        border-left: rgba(237, 120, 57, 1) solid 5px;
        background: #FDF1EB;
    }



header {
    grid-area: header;
    background: #FDF1EB;

    display: flex;
    justify-content: space-between;

    align-items: center;

    margin: 0 auto;
    padding: 0;
}

    header div {
        margin: 2rem;
    }

header .text-center {
    font-size: clamp(2rem, 1vw, 2rem);
    font-size: 'Roboto', sans-serif;
    color: #725C5C;

    margin: 0;
    padding: 0;
}

header h2 {
    font-size: clamp(1rem, 0.8vw, 2rem);
    color: #725C5C;
    font-family: 'Roboto', sans-serif;
    margin: 0;

    /* espaçamento entre letras */
    letter-spacing: 0.2rem;
} 

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

header nav select {
    width: 100%;
    border: none;
    background: #FDF1EB;
    font-size: clamp(1rem, 0.8vw, 2rem);
    color: #725C5C;
    font-family: 'Roboto', sans-serif;
}

header nav img {
    width: 15%;
    margin: 0 auto;
}

header .acesso {
    display: flex;
    width: 25%;
    margin-right: 2rem;
}

header .acesso p {
    margin: 0 auto;
    padding: 0;
    font-size: clamp(1rem, 1vw, 2rem);
    text-align: right;
}

header .acesso img {
    width: 100%;
    margin: 0;
    padding: 0 0 0 0.5rem;
    border-radius: 100%;
}

/* Area de texto destaque e icones de navegação */
section:nth-of-type(1) {
    grid-area: sect1;
    background-color: #E5E5E5;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 0;
}

    section:nth-of-type(1) div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        color: #ed7839;

        font-size: clamp(1rem, 1.1vw, 2rem);
    }

    section:nth-of-type(1) .icones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section:nth-of-type(1) .icones ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    section:nth-of-type(1) .icones ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0.4rem;
        padding: 0.5rem 1rem;
        background: #ed7839;
        border-radius: 3px;
        
    }

    section:nth-of-type(1) .icones ul li a {
        color: #fff;
        text-decoration: none;
        font-size: clamp(1rem, 0.8vw, 2rem);
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
     }

    section:nth-of-type(1) img {
        width: 20px;
    }

    section:nth-of-type(1) .trab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        color: #ED7839;

        font-family: 'Roboto', sans-serif;
        font-weight: 500;

        font-size: clamp(1rem, 0.9vw, 2rem);
    }


/* Area do video */
section:nth-of-type(2) {
    grid-area: sect2;
    background-color: #E5E5E5;
    margin: 0 auto;
    padding: 0;
}

    section:nth-of-type(2) p {
        margin: 2rem auto;
        padding: 0;
        text-align: center;
    }

    section:nth-of-type(2) img {
        margin: 0 auto;
        padding: 0;
        border-radius: 1%;
    }


/* Area de artigos lateral */
section:nth-of-type(3) {
    grid-area: sect3;
    background-color: #E5E5E5;
    margin: 2rem 0 0 0;
    padding: 0;
}

    section:nth-of-type(3) div {
        display: flex;
        align-items: center;
        margin: 2rem;
        color: #fff;
        background: #ECECEC;
        margin: 0 auto;
        padding: 20px;
        color: #4e4e4e;

        font-weight: 500;
        font-size: clamp(1rem, 2vw, 2rem);
    }

    section:nth-of-type(3) nav {
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    section:nth-of-type(3) nav ul {
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        margin: 2rem 0;
    }

    section:nth-of-type(3) nav ul li {
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        border-radius: 3px;

        line-height: 1.5;
    }

    section:nth-of-type(3) nav ul li a {
        color: #5C5C5C;
        text-decoration: none;
        font-size: clamp(1rem, 0.8vw, 2rem);
        font-family: 'Roboto', sans-serif;
        
    }

main {
    grid-area: main;
    background-color: #e5e5e5;
    margin: 0 auto;
    padding: 0;

    border: 1px solid red;
    
}

    main div:nth-child(1) h2 {
        font-size: clamp(1rem, 2vw, 3rem);
        background: #FDF1EB;
        color: #4e4e4e;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin: 0 auto;
        padding: 1rem;

        border: 1px solid red
    }

    main div:nth-child(1) p {
        font-size: clamp(1rem, 1vw, 2rem);
        color: #4e4e4e;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin: 0 auto;
        padding: 1rem;

    }

  


footer {
    grid-area: footer;
    background-color: #588EC3;
}

@media only screen and (max-width: 768px) {

    body {         
        font-size: 18px;
        font-family: 'Roboto', sans-serif;

        background-color: #E5E5E5;

        margin: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto, 5);
        grid-template-areas:
            "header"
            "sect1"
            "sect2"
            "main"
            "footer";
    }


}